<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>javascript basic</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<style>
		*{
			box-sizing: border-box;
		}
		body{
			margin:0;
			padding: 0;
			background: #333;
		}
		.percent-count{
			width: 450px;
			height: 50px;
			color: white;
			margin: 100px auto;
			text-align: center;
			font-size: 40px;
		}
		.progress-bar{
			width: 506px;
			height: 26px;
			background-color: #bbb;
			border-radius: 13px;
			margin: 50px auto; 
			padding: 3px;
			margin-left: 400px;
		}
		.progress{
			width: 25px;
			height: 20px;
			border-radius: 10px;
			background-color: darkblue;
		}
	</style>
</head>
<body>
<div id="percentCount" class="percent-count">100%</div>
<div class="progress-bar">
<div class="progress" id="progress"></div>
</div>	

<!-- <button type="button" 
onclick="document.getElementById('demo').style.fontSize='35px'">make large font size</button>

<p id="demo">hi friends how are you</p> -->

<!-- 	image two different 	
<button type="button" onclick="document.getElementById('myimage').src='pic_bulbon.gif'">bulbon</button>

<img src="pic_bulboff.gif" id="myimage" alt="">

<button type="button" onclick="document.getElementById('myimage').src='pic_bulboff.gif'">bulboff</button>

 -->
	<!-- date method are used in this example
	<input type="button" class="btn btn-success" onclick="document.getElementById('demo').innerHTML = Date()" value="click this button and show date and time">
	<p id="demo"></p> -->
	<script> 
	function progress(){
		var prg = document.getElementById('progress');
		var percent = document.getElementById('percentCount');
	var	counter = 1;
	var progress = 25;
	var id = setInterval(frame, 1000);

	function frame(){
		if (progress == 25 && counter == 100) {
			clearInterval(id);	
		}
		else{
			progress += 5;
			counter += 1;
			prg.style.width = progress + 'px';
			percent.innerHTML = counter + '%';
		}
		
	}
}
	progress();
</script>
</body>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</html>
